body {
    background-color: #F8F4EC;
    font-family: sans-serif;
}

/* Latest Post */
a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.navbar {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 15px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 65px;
    z-index: 1000;

    box-sizing: border-box;

    position: sticky;
    top: 0;
}

.navbar-menu ul {
    display: flex;
    gap: 30px;
}

.navbar a {
    color: #555;
    font-size: 16px;
    padding: 5px 0;
    transition: color 0.3;
}

.navbar-menu a:hover {
    color: burlywood;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

.content-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
    margin-top: 30px;
}

.post-card {
    background-color: white;
    border: 1px solid;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px;

    display: flex;
    gap: 30px;
    align-items: flex-start;
}

.post-card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 4px;
    flex-shrink: 0;
}

.post-content h3 {
    margin: 5px;
}

.post-content p {
    font-size: 14px;
    margin-bottom: 10px;
}

/* Sidebar */
/* Categories */
.sidebar .widget-categories {
    background-color: white;
    border: 1px solid;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px;
}

.widget-categories h3 {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
}

/* Author */
.author-details {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.author-details img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
}

.author-details h4 {
    margin-bottom: 2px;
}

.author-bio {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.widget-author-info {
    background-color: white;
    border-radius: 8px;
    border: 1px solid;
    box-shadow: 0 2px 4px;
}

/* Featured Lesson */
.card-container {
    background-color: white;
    border-style: 1px solid;
    width: 700px;
    border-radius: 8px;
    box-shadow: 0 4px 8px;
    transition: all 0.3 ease-in-out;
    margin-left: 20px;
}

.card-container:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px;
}

.card-container img {
    width: 700px;
    height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

h2 {
    padding: 15px;
    margin: auto;
}

h3 {
    padding: 15px;
    margin: auto;
}

.card-container p {
    text-align: justify;
    padding: 15px;
    margin: 0;
}

.read-more-link {
    color: #1a0dab;
    display: block;
    text-decoration: none;
    font-weight: bold;
    padding: 0 15px 15px 15px;
}

.read-more-link:hover {
    color: #0066cc;
    text-decoration: underline;
}